/*!
 * flash.css v1.0.1
 * https://github.com/Jadu-Dev/Loading-Bar/asset
 * https://eaglenusa.my.id/about
 * Licensed MIT © GNU AFFERO GENERAL PUBLIC LICENSE 3.0
 */
.nusa {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.nusa-inactive {
	display: none;
}

.nusa .nusa-progress {
	background: #e22222;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 10px;
}

.nusa .nusa-progress-inner {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #e22222, 0 0 5px #e22222;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.nusa .nusa-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 15px;
	right: 15px;
	width: 14px;
	height: 14px;
	border: solid 10px transparent;
	border-top-color: #e22222;
	border-left-color: #e22222;
	border-radius: 10px;
	-webkit-animation: nusa-spinner 400ms linear infinite;
	-moz-animation: nusa-spinner 400ms linear infinite;
	-ms-animation: nusa-spinner 400ms linear infinite;
	-o-animation: nusa-spinner 400ms linear infinite;
	animation: nusa-spinner 400ms linear infinite;
}

@-webkit-keyframes nusa-spinner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nusa-spinner {
	0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nusa-spinner {
	0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nusa-spinner {
	0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nusa-spinner {
	0% { transform: rotate(0deg); transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}